<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/DTD Mapper 3.0/EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyuhoo.mini.mybatis.dao.UserDao">
  <select id="queryUserInfoById" parameterType="java.lang.Long" resultType="com.zyuhoo.mini.mybatis.entity.User">
    SELECT id, user_id, user_head, create_time
    FROM user
    WHERE id = #{id}
  </select>
  <select id="queryUserName" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT user_head
    FROM user
    WHERE user_id = #{userId}
  </select>
</mapper>